html
	head
		title Weipool
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", rel="stylesheet")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
	body


		nav(class="navbar navbar-inverse navbar-static-top")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand" href="/") Weipool
					form(class="from-inline")


		div(class="container")
			h1
				a(href="https://etherchain.org/account/" + address)= "Your Stats: " + address
			h1 NOTE: Your balance is updated a couple times a day after a few blocks have been found!

			div(class="row")
				div(class="col-md-3 col-xs-12")
					div(class="panel panel-primary")
						div(class="panel-heading") Your speed
						div(class="panel-body")= yourSpeed/1000000 + " Mh/s"
				div(class="col-md-3 col-xs-12")
					div(class="panel panel-primary")
						div(class="panel-heading") Your round shares
						div(class="panel-body")= yourShares
				div(class="col-md-3 col-xs-12")
					div(class="panel panel-primary")
						div(class="panel-heading") Total round shares
						div(class="panel-body")= totalShares
				div(class="col-md-3 col-xs-12")
					div(class="panel panel-primary")
						div(class="panel-heading") Your balance
						div(class="panel-body")= balance/1000000000000000000 + " ether"


			h1 Last Payments
				table(class="table table-striped")
					thead
						tr
							th Time
							th Amount
					tbody
						- for (var i=0; i<payouts.length; i=i+2)
							- var newDate = new Date()
							- newDate.setTime(payouts[i+1])
							tr
								th= newDate.toUTCString()
								th= payouts[i]/1000000000000000000 - 0.01 + " ether"
						

						